<div>
    <h4><a href="/create">Create Account</a></h4>
    <h4><a href="/searchAccount">Search Account By Id</a></h4>
    <h4><a href="/display">Display all Accounts or customers only</a></h4>
    <h4><a href="/transfer">Transfer Funds from one account to another</a></h4>
</div>